@using SoftTouchSearch.Data.Models

@model Episode

<header class="px-4 pt-5 mb-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Soft Touch Search</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead text-secondary fw-normal mb-4">
            Search the text of the web novel Soft Touch.
            <br>
            The latest episode indexed is <a href="https://tapas.io/episode/@Model.UrlId">Ep.&nbsp;@Model.EpisodeNumber</a>.
        </p>
    </div>
</header>
