@*
 * Copyright © 2024, 2025 Jack Kelly.
 *
 * Soft Touch Search is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option)any later version.
 *
 * Soft Touch Search is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Soft Touch Search. If not, see [https://www.gnu.org/licenses/].
 *@

@using System.Reflection

@{
    Version? appVersion = Assembly
        .GetExecutingAssembly()
        .GetName()
        .Version;

    string version = appVersion != null
        ? $"v{appVersion.Major}.{appVersion.Minor}"
        : $"v1.0";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "Soft Touch Search")</title>
    <partial name="Head/_Description" />
    <partial name="Head/_Favicon" />
    <partial name="Head/_GoogleFonts" />
    <partial name="Head/_OpenGraph" />
    @if (ViewData["Canonical"] != null)
    {
        <link rel="canonical" href="@ViewData["Canonical"]" />
    }
    
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <div class="container">
        @await RenderSectionAsync("Header", true)
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer-spacer my-5"></div>

    <footer class="footer my-5 text-secondary">
        <div class="container text-center">
            <nav class="d-inline-flex flex-column flex-sm-row flex-nowrap gap-sm-3 gap-md-5">
                <span>@version</span>
                <a asp-page="/About">About</a>
                <a asp-page="/Episodes">Episode Listing</a>
                <span>
                    Soft Touch is written by
                    <a href="https://www.riveronei.com/" target="_blank" rel="noopener">River Onei</a>
                </span>
            </nav>            
        </div>
    </footer>

    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>