@using System.Reflection
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "Soft Touch Search")</title>
    <partial name="Head/_Description" />
    <partial name="Head/_Favicon" />
    <partial name="Head/_GoogleFonts" />
    <partial name="Head/_OpenGraph" />
    @if (ViewData["Canonical"] != null)
    {
        <link rel="canonical" href="@ViewData["Canonical"]" />
    }
    
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <div class="container">
        @await RenderSectionAsync("Header", true)
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer-spacer my-5"></div>

    <footer class="footer my-5 text-secondary">
        <div class="container text-center">
            <nav class="d-inline-flex flex-column flex-sm-row flex-nowrap gap-sm-3 gap-md-5">
                <span>v1.2</span>
                <a asp-page="/About">About</a>
                <a asp-page="/Episodes">Episode Listing</a>
                <span>
                    Soft Touch is written by
                    <a href="https://www.riveronei.com/" target="_blank" rel="noopener">River Onei</a>
                </span>
            </nav>            
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>