@page
@using SoftTouchSearch.Models.Listings

@model SoftTouchSearch.Pages.EpisodesModel

@{
    ViewData["Title"] = "Episode Listing - Soft Touch Search";
    ViewData["Canonical"] = "https://softtouchsearch.jackkelly.uk/Episodes";
}

@section Header {
    @{
        if (Model.LatestEpisode != null)
        {
            await Html.RenderPartialAsync("Header/_Standard", Model.LatestEpisode);
        }
        else
        {
            await Html.RenderPartialAsync("Header/_Basic");
        }
    }
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="false"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="false"></script>
}

<nav class="mb-3">
    <a asp-page="/Index" title="Back to main page">&larr; Back</a>
</nav>

@{
    await Html.RenderPartialAsync("Listing/_Chapters", Model.Listing);
}

<h2 id="episodes">Episodes</h2>

<div class="mb-3 form-check">
    <input type="checkbox" id="listExcluded" class="form-check-input">
    <label for="listExcluded" class="form-check-label">Show non-story content</label>
</div>

@{
    await Html.RenderPartialAsync("Listing/_Episodes", Model.Listing);
}