@*
 * Copyright © 2024, 2025 Jack Kelly.
 *
 * Soft Touch Search is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option)any later version.
 *
 * Soft Touch Search is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Soft Touch Search. If not, see [https://www.gnu.org/licenses/].
 *@

@page

@using SoftTouchSearch.Models.Listings

@model SoftTouchSearch.Pages.EpisodesModel

@{
    ViewData["Title"] = "Episode Listing - Soft Touch Search";
    ViewData["Canonical"] = "https://softtouchsearch.jackkelly.uk/Episodes";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

@section Header {
    @{
        if (Model.LatestEpisode != null)
        {
            await Html.RenderPartialAsync("Header/_Standard", Model.LatestEpisode);
        }
        else
        {
            await Html.RenderPartialAsync("Header/_Basic");
        }
    }
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="false"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="false"></script>
}

<nav class="mb-3">
    <a asp-page="/Index" title="Back to main page">&larr; Back</a>
</nav>

<div class="mb-3 form-check form-switch">
    <input class="form-check-input" type="checkbox" id="listExcluded">
    <label class="form-check-label" for="listExcluded">Show non-story content</label>
</div>

@{
    await Html.RenderPartialAsync("Listing/_Chapters", Model.Listing);
}

@{
    await Html.RenderPartialAsync("Listing/_Episodes", Model.Listing);
}