@page
@using SoftTouchSearch.Index.Classes
@using SoftTouchSearch.Index.Services

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

@section Header {
    @{
        if (Model.LatestEpisode != null)
        {
            await Html.RenderPartialAsync("_Header_Standard", Model.LatestEpisode!);
        }
        else
        {
            await Html.RenderPartialAsync("_Header_Basic");            
        }
    }
}

@if (!Model.IndexBuilt)
{
    <div class="text-center">
        <h2>503 Service Unavailable</h2>
        <p>The search index is being rebuilt, this usually only takes a few minutes.</p>
        <p>Try refreshing the page shortly.</p>
    </div>
}
else
{
    @* Search bar *@
    <div class="mb-5">
        <input type="text" asp-for="SearchText" id="searchBox" class="form-control form-control-lg" autocomplete="off" placeholder="Search for text..." />
        @if(Model.Results.Any())
        {
            <div class="form-text">Found @Model.Results.TotalHits matches</div>
        }
    </div>

    @* Results *@
    if (Model.Results.Any())
    {
        int resultIndex = 0;
        foreach (SearchResult result in Model.Results)
        {
            if (resultIndex == IndexService.SearchPageSize)
            {
                <div id="scrollto"></div>
            }
            resultIndex++;


            await Html.RenderPartialAsync("_SearchResult", result);
        }
    }
    else if (!string.IsNullOrWhiteSpace(Model.SearchText))
    {
        <p class="text-center mb-3">
            <em>No results found.</em>
        </p>
    }

    @* Pagination *@
    @if (Model.Results.TotalHits > Model.Results.Count)
    {
        <div class="text-center my-5">
            <a asp-page="/Index" asp-route-q="@Model.SearchText" asp-route-loadMore="true" class="btn btn-primary btn-lg">Load More</a>
        </div>        
    }
}


