@*
 * Copyright © 2024, 2025 Jack Kelly.
 *
 * Soft Touch Search is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option)any later version.
 *
 * Soft Touch Search is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Soft Touch Search. If not, see [https://www.gnu.org/licenses/].
 *@

@page

@using SoftTouchSearch.Index.Classes
@using SoftTouchSearch.Index.Services
@using IndexConstants = SoftTouchSearch.Index.Constants

@model IndexModel

@{
    ViewData["Title"] = "Soft Touch Search";
    ViewData["Canonical"] = "https://softtouchsearch.jackkelly.uk/";
}

@section Header {
    @{
        if (Model.LatestEpisode != null)
        {
            await Html.RenderPartialAsync("Header/_Standard", Model.LatestEpisode);
        }
        else
        {
            await Html.RenderPartialAsync("Header/_Basic");
        }
    }
}

@* Search bar *@
<div class="mb-5">
    <input type="text" asp-for="SearchText" id="searchBox" class="form-control form-control-lg" placeholder="Search for text..." />
    @if (Model.Results.Any())
    {
        <div class="form-text">Found @Model.Results.TotalHits matches</div>
    }
</div>

@* Results *@
@if (Model.Results.Any())
{
    int resultIndex = 0;
    foreach (SearchResult result in Model.Results)
    {
        if (resultIndex == IndexConstants.SearchPageSize)
        {
            <div id="scrollTo"></div>
        }
        resultIndex++;


        await Html.RenderPartialAsync("Search/_Result", result);
    }
}
else if (!string.IsNullOrWhiteSpace(Model.SearchText))
{
    <p class="text-center mb-3">
        <em>No results found.</em>
    </p>
}

@* Pagination *@
@if (Model.Results.TotalHits > Model.Results.Count)
{
    <div class="text-center my-5">
        <a asp-page="/Index" asp-route-q="@Model.SearchText" asp-route-loadMore="true" class="btn btn-primary btn-lg">Load More</a>
    </div>
}

