@page

@using Lucene.Net.Documents
@using SoftTouchSearch.Data.Models
@using SoftTouchSearch.Index.Classes

@model SoftTouchSearch.Pages.TestModel
@{
}

<div class="mb-3">
    <input asp-for="QueryText" readonly />
</div>

@if (Model.Results != null)
{
    if (Model.Results.Any())
    {
        foreach (SearchResult result in Model.Results)
        {
            Episode episode = Model.ResultsContents
                .Where(episode => episode.Id == result.Id)
                .Single();
            
            <div class="mb-3">
                <h2 class="h4">@episode.Title</h2>
                <blockquote>
                    @Html.Raw(result.Snippet)
                </blockquote>
            </div>
        }
    }
    else
    {
        <p class="text-center mb-3">
            <em>No results found.</em>
        </p>
    }
}
