/* Global */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
}

h1, h2 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.025em;
}

a {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 1em;
    width: 100%;
}

.footer-spacer {
    height: 1rem;
}

@media (max-width: 575px) {
    .footer {
        height: 6rem;
    }

    .footer-spacer {
        height: 6rem;
    }
}

/* Search */

.search-result {
    display: flex;
    flex-flow: column nowrap;
}

    .search-result .details {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
    }

        .search-result .details > *:not(:last-child)::after {
            content: ',';
        }

    .search-result .title a {
        text-decoration: none;
    }

    .search-result .snippets {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.25rem;
    }

        .search-result .snippets > *::before {
            content: '\201C';
            font-size: 1.5em;
            line-height: 1em;
        }

        .search-result .snippets > *::after {
            content: '\201D';
            font-size: 1.5em;
            line-height: 1em;
        }

    .search-result .score {
        display: none;
        margin: 0;
        margin-top: 0.5rem;
        font-family: monospace;
        font-weight: bold;
    }

/* Episode Listing */

.btn-tapas {
    --bs-btn-color: #000000;
    --bs-btn-bg: #f6b606;
    --bs-btn-border-color: #cc9705;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #ffc219;
    --bs-btn-hover-border-color: #cc9705;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #e6aa06;
    --bs-btn-active-border-color: #cc9705;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-river {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #488057;
    --bs-btn-border-color: #3a6645;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #4f8c5f;
    --bs-btn-hover-border-color: #3a6645;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #41734e;
    --bs-btn-active-border-color: #3a6645;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#chapter-list .item.excluded,
#episode-list .item.excluded {
    display: none;
}

#chapter-list .item .thumbnail,
#episode-list .item .thumbnail {
    height: 3rem;
    width: auto;
}

#chapter-list .column {
    display: grid;
    grid-template-columns: [start] 3rem auto min-content [end];
    grid-template-rows: min-content;
    column-gap: 0.5rem;
}

#episode-list .chapter {
    display: grid;
    grid-template-columns: [start] 3rem auto min-content [end];
    grid-template-rows: min-content;
    column-gap: 0.5rem;
}

    #episode-list .chapter:not(:last-child) {
        margin-bottom: 3rem;
    }

#chapter-list .item,
#episode-list .item {
    grid-column: start / end;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    row-gap: 0.25rem;
}

    #chapter-list .item > *:nth-child(1),
    #episode-list .item > *:nth-child(1) {
        grid-column: start / end;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: auto;
        align-items: center;
    }

        #chapter-list .item > *:nth-child(1) .thumbnail
        #episode-list .item > *:nth-child(1) .thumbnail {
            grid-column: start / 2;
        }

        #chapter-list .item > *:nth-child(1) .summary,
        #episode-list .item > *:nth-child(1) .summary {
            color: unset;
            line-height: 1;
            grid-column: 2 / 3;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            row-gap: 0.25rem;
            text-decoration: none;
        }

            #chapter-list .item > *:nth-child(1) .summary > *:nth-child(1),
            #episode-list .item > *:nth-child(1) .summary > *:nth-child(1) {
                font-size: small;
            }

        #episode-list .item > *:nth-child(1) .date {
            display: none;
        }

        #episode-list .item > *:nth-child(1) .links {
            display: none;
        }

        #chapter-list .item > *:nth-child(1) .expand,
        #episode-list .item > *:nth-child(1) .expand {
            align-self: stretch;
            background-color: unset;
            border: unset;
            grid-column: 5 / end;
            padding: 0;
            width: 3rem;
        }

    #chapter-list .item > *:nth-child(2),
    #episode-list .item > *:nth-child(2) {
        grid-column: 2 / end;
    }

        #chapter-list .item > *:nth-child(2) .details,
        #episode-list .item > *:nth-child(2) .details {
            line-height: 1;
            margin-bottom: 0.5rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            column-gap: 0.5rem;
            row-gap: 0.25rem;
        }

        #episode-list .item > *:nth-child(2) .links {
            margin: 0.5rem 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            column-gap: 0.5rem;
        }

/* Bootstrap md */
@media (min-width: 768px) {
    #episode-list .chapter {
        grid-template-columns: [start] 3rem auto min-content min-content [end];
    }

    #episode-list .item > *:nth-child(1) .date {
        grid-column: 3 / 4;
        display: block;
    }

    #chapter-list .item > *:nth-child(2) .details,
    #episode-list .item > *:nth-child(2) .details {
        flex-flow: row wrap;
    }
}

/* Bootstrap lg */
@media (min-width: 992px) {
    #episode-list .chapter {
        grid-template-columns: [start] 3rem auto min-content min-content min-content [end];
    }

    #episode-list .item > *:nth-child(1) .date {
        padding-right: 1rem;
    }

    #episode-list .item > *:nth-child(1) .links {
        grid-column: 4 / 5;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        column-gap: 0.5rem;
    }

    #episode-list .item > *:nth-child(2) .links {
        display: none;
    }
}
