@*
 * Copyright © 2024, 2025 Jack Kelly.
 *
 * Soft Touch Search is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option)any later version.
 *
 * Soft Touch Search is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Soft Touch Search. If not, see [https://www.gnu.org/licenses/].
 *@

@using SoftTouchSearch.Data.Models
@using SoftTouchSearch.Models.Listings

@model StoryListing

@* Partial for the chapter list *@

@{
    int firstColumnCount = (int)MathF.Ceiling(Model.Chapters.Count / 2f);
    IEnumerable<Chapter> leftColumn = Model
        .Take(firstColumnCount);
    IEnumerable<Chapter> rightColumn = Model
        .Skip(firstColumnCount);
}

<section class="mb-3">

    <h2 id="chapters">Chapters</h2>

    <nav id="chapter-list" role="navigation" aria-labelledby="chapters">
        <div class="row">
            <div class="col-xl-6">
                <div class="column">
                    @foreach (Chapter chapter in leftColumn)
                    {
                        await Html.RenderPartialAsync("Listing/_Chapters_Row", chapter);
                    }
                </div>
            </div>
            <div class="col-xl-6">
                <div class="column">
                    @foreach (Chapter chapter in rightColumn)
                    {
                        await Html.RenderPartialAsync("Listing/_Chapters_Row", chapter);
                    }
                </div>
            </div>
        </div>
    </nav>

</section>