@using SoftTouchSearch.Data.Models
@using SoftTouchSearch.Models.Listings

@model StoryListing

@* Partial for the chapter list *@

@{
    int firstColumnCount = (int)MathF.Ceiling(Model.Chapters.Count / 2f);
    IEnumerable<Chapter> leftColumn = Model
        .Take(firstColumnCount);
    IEnumerable<Chapter> rightColumn = Model
        .Skip(firstColumnCount);
}

<section class="mb-3">

    <h2 id="chapters">Chapters</h2>

    <nav id="chapter-list" role="navigation" aria-labelledby="chapters">
        <div class="row">
            <div class="col-xl-6">
                <div class="column">
                    @foreach (Chapter chapter in leftColumn)
                    {
                        await Html.RenderPartialAsync("Listing/_Chapters_Row", chapter);
                    }
                </div>
            </div>
            <div class="col-xl-6">
                <div class="column">
                    @foreach (Chapter chapter in rightColumn)
                    {
                        await Html.RenderPartialAsync("Listing/_Chapters_Row", chapter);
                    }
                </div>
            </div>
        </div>
    </nav>

</section>