@using SoftTouchSearch.Data.Models
@using SoftTouchSearch.Models.Listings

@model StoryListing

<div class="table-responsive-md">
    <table class="table table-borderless episode-table" aria-labelledby="episodes">
        <thead>
            <tr>
                <th scope="col" aria-label="Tapas Episode Number" aria-sort="ascending">No.</th>
                <th scope="col">Episode Title</th>
                <th scope="col" class="d-none d-md-table-cell" aria-label="Date Published">Date</th>
                <th scope="col" aria-label="Links to episode">Links</th>
            </tr>
        </thead>
        @foreach (Chapter chapter in Model)
        {
            @* Each chapter forms its own rowgroup *@
            <tbody>
                @{
                    foreach (Episode episode in chapter.Episodes)
                    {
                        if (episode.IsFirstEpisodeInChapter)
                        {
                            await Html.RenderPartialAsync("Listing/_Episodes_RowChapter", new Tuple<Chapter, Episode>(chapter, episode));
                        }
                        else
                        {
                            await Html.RenderPartialAsync("Listing/_Episodes_Row", episode);
                        }
                    }
                }
            </tbody>
        }
    </table>
</div>