@*
 * Copyright © 2024, 2025 Jack Kelly.
 *
 * Soft Touch Search is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or
 * (at your option)any later version.
 *
 * Soft Touch Search is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Soft Touch Search. If not, see [https://www.gnu.org/licenses/].
 *@

@using SoftTouchSearch.Data.Models
@using SoftTouchSearch.Models.Listings

@model StoryListing

@* Partial for the episode list *@

<section class="mb-3">

    <h2 id="episodes">Episodes</h2>    

    <div id="episode-list" role="list" aria-labelledby="episodes">
        @foreach (Chapter chapter in Model)
        {
            string anchor = $"chapter-{chapter.Number}";
            <div id="@anchor" class="chapter" role="group" aria-label="@chapter.ToString()">
                @foreach (Episode episode in chapter.Episodes)
                {
                    await Html.RenderPartialAsync("Listing/_Episodes_Row", episode);
                }
            </div>
        }
    </div>

</section>